[submodule "TerrainSlabs"]
	path = TerrainSlabs
	url = https://github.com/BeloMaximka/TerrainSlabs
[submodule "trailmodupdated"]
	path = trailmodupdated
	url = https://github.com/Pure-Winter-hue/trailmodupdated
